<h1>PVDS</h1>
<p>Esta seria la pagina principal Home</p>
<div id="menu">
 <ul>
  <li><a href="http://localhost:3000/points">Puntos</a></li>
  <li><a href="http://localhost:3000/courses">Cursos</a></li>
  <li><a href="http://localhost:3000/poblations">Poblaciones</a></li>
  <li><a href="http://localhost:3000/users">Usuarios</a></li>
 </ul>
</div>
